@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic,300italic);

html,
body {
  margin: 0;
  padding: 0;
}

.tooltip {
  background-color: #fff;
  font: 14px sans-serif;
  padding: 6px;
}

text {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.subtitle {
  font-size: 18px;
  font-style: italic;
}

.axis text,
text.label {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}

.legend {
  text {
    font-size: 10px;
  }

  path {
    fill: none;
    shape-rendering: crispEdges;
    stroke: none;
  }
}
